.selectBackground {
    background-image: url(../Image/blurryWeight.png);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
    margin: auto;
    overflow: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.selectWorkout, .dropdownBackground, .selectExercise {
background-color:black;
opacity: 0.5;
filter:alpha(opacity=0);
border-style: hidden;
}


.cardContent {
    width: 50%;
}

#weights {
   
}

#addExercise {
    background-color: grey;
    padding: 10px;
    border-radius: 12px;
    margin: 20px;
}

